# IDE
/.idea
/.vscode
/.run

# 构建产物
DDBOT
DDBOT.exe
/dist/
/coverage.html
/.coverage.out

# 文档站构建产物
/site/

# 运行时生成文件
/application.yaml
/device.json
/.lsp.db
/.lsp.db.lock
/session.token
/qrcode.png
/logs/
/template/
/version*.json
/debug
